{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<main>
    <section class="get-started">
        <div class="get-started-text">
            <h1>Welcom to E-Learning platform</h1>
            <h3>Your best online learning platform</h3>
        </div>
        <a href="{% url 'login-page' %}" class="get-started-link">Get Started</a>
    </section>
    <section class="search-section">
        <input type="text" placeholder="search for tutorials" class="tutorial-search-input">
        <button type="submit" class="tutorial-search-button"> Search</button>
    </section>
    <h1 style="margin-top: 50px; margin-left: 450px; font-size: 2.3rem;color: rgb(23, 52, 97);">Recommended Tutorials</h1>
    <section class="tutorials">
        {% for tutorial in tutorials %}
        <a href="">
            <div class="tutorial">
                <img class="tutorial-image" src="{{tutorial.cover_url}}" style=" height: 280px;width: 260px; "></img>
                <div class="tutorial-details">
                    <div class="tutorial-name">
                        <h3>{{tutorial.name}}</h3>
                    </div>
                    <div class="tutorial-activity">
                        <span>{{tutorial.user}}</span>
                        <span>{{tutorial.price}} $</span>
                        <span>{{tutorial.followers.count}}k</span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
    <section class="footer">
        <span style="color: white;">e-learn@gmail.com</span>
    </section>
{% endblock content %}