{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<main>
    <section class="get-started" style="border-bottom: 1px #a7a1a1 solid;">
        <div class="get-started-text">
            <h1>Welcom to E-Learning platform</h1>
            <h3>Your best online learning platform</h3>
        </div>
        <a href="{% url 'create-tutorial' %}" class="get-started-link">Add Tutorial</a>
    </section>
    <section class="search-section" style="border-bottom: 1px #a7a1a1 solid;padding-bottom: 10px;">
        <input type="text" placeholder="search for tutorials" class="tutorial-search-input">
        <button type="submit" class="tutorial-search-button"> Search</button>
    </section>
    <h1 style="margin-top: 50px; margin-left: 500px; font-size: 2.8rem;color: rgb(23, 52, 97);">Your Tutorials</h1>
    <section class="tutorials" style="border-bottom: 1px #a7a1a1 solid;">
        {% for tutorial in your_tutorials %}
        <a href="{% url 'tutorial-page' tutorial.id %}">
            <div class="tutorial">
                <img class="tutorial-image" src="{{tutorial.cover_url}}" style=" height: 280px;width: 260px; "></img>
                <div class="tutorial-details">
                    <div class="tutorial-name">
                        <h3>{{tutorial.name}}</h3>
                    </div>
                    <div class="tutorial-activity">
                        <span>You</span>
                        <span>{{tutorial.followers.count}}</span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
    <h1 style="margin-top: 50px; margin-left: 450px; font-size: 2.8rem;color: rgb(23, 52, 97);">Recommended Tutorials</h1>
    <section class="tutorials" style="border-bottom: 1px #a7a1a1 solid;">
        {% for tutorial in tutorials %}
        {% if tutorial.user != user.profile %}
        <a href="{% url 'tutorial-page' tutorial.id %}">
            <div class="tutorial">
                <img class="tutorial-image" src="{{tutorial.cover_url}}" style=" height: 280px;width: 260px; "></img>
                <div class="tutorial-details">
                    <div class="tutorial-name">
                        <h3>{{tutorial.name}}</h3>
                        
                    </div>
                    <div class="tutorial-activity">
                        <span>{{tutorial.user}}</span>
                        <span>{{tutorial.price}} $</span>
                        <span>{{tutorial.followers.count}}</span>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </section>
    <section class="footer">
        <span style="color: white;">e-learn@gmail.com</span>
    </section>
</main>
{% endblock content %}
<!-- <h3>welcome to E-learn</h3>
<h1>hello {{user}}</h1>
<a href="{% url 'profile-page' user.profile.id %}"> Profile Page</a>
<a href="{% url 'logout' %}">logout</a>
<a href="{% url 'create-tutorial' %}">Create Tutorial</a> -->
