<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learning Homepage</title>
    <link rel="stylesheet" href="{% static 'css/home2-style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">E-Learn</h1>
            <nav class="navbar">
                <ul class="nav-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h1>Welcome to E-Learn</h1>
            <p>Your Path to Lifelong Learning</p>
            <a href="{% url 'login-page' %}" class="btn">Get Started</a>
        </div>
    </section>

    <section class="recommended-tutorials">
        <h2>Recommended Tutorials</h2>
        <div class="container">
            {% for tutorial in tutorials %}
            <a href="{% url 'tutorial-page' tutorial.id %}">
                <div class="tutorial-card">
                    <img src="{{tutorial.cover_url}}" alt="Tutorial 1" style="width: 40px;height: 40px;">
                    <h3>{{tutorial.name}}</h3>
                    <p>{{tutorial.description}}</p>
                    <a href="#" class="btn">View Tutorial</a>
                </div>
            </a>
            {% endfor %}
            
            <!-- Add more recommended tutorials here -->
        </div>
    </section>

    <section class="tutorial-topics">
        <div class="container">
            <h2>Tutorial Topics</h2>
            <ul class="topic-list">
                <li><a href="#">Programming</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Data Science</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Mathematics</a></li>
            </ul>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2023 E-Learn</p>
        </div>
    </footer>
</body>
</html>